<div class="flex justify-evenly ">
    <mat-card class="w-full text-center h-42 m-4">
        <mat-card-content>
           <app-card-car-service
           title="Total Services"
           count="500"></app-card-car-service>
        </mat-card-content>
      </mat-card>
      <mat-card class="w-full text-center h-42 m-4">
        <mat-card-content>
          <app-card-car-service
          title="This Year"
          count="10"></app-card-car-service>
        </mat-card-content>
      </mat-card>
</div>
  
<div class="p-4">
    <app-area-chart-service></app-area-chart-service>
</div>
<div  class="p-4">
 <app-service-table></app-service-table>
</div>
