<div class="flex justify-evenly m-3 mt-7">
    <mat-card>
        <mat-card-content >
          <app-card-dash
          
          bg="blue"
          title="Cars sold"
          total="300"></app-card-dash>
        </mat-card-content>
      </mat-card>

      <mat-card >
        <mat-card-content>
          <app-card-dash
          
          bg="blue"
          title="companies"
          total="15"></app-card-dash>
        </mat-card-content>
      </mat-card>

      <mat-card  >
        <mat-card-content>
          <app-card-dash
          
          bg="blue"
          title="Pending orders"
          total="25"></app-card-dash>
        </mat-card-content>
      </mat-card>
    

     
      
</div>
<div class="flex justify-between p-3">
   <div >
        <app-area-chart-dash></app-area-chart-dash>
   </div>
    <div class="shadow-2xl">
        <app-pie-dash></app-pie-dash>
    </div>
</div>

<div class="p-4">
  <app-table-dash></app-table-dash>
  
</div>
